### vim ###
*.swp

### python ###
*__pycache__/
*.un~
*.pyc

### torch ###
pytorch_ver/logs/*
pytorch_ver/tests/*

### tensorflow ###
tensorflow_ver/logs/*
tensorflow_ver/tests/*

### tests ###
*tests/
*test*

### logs ###
*logs/

### backups ###
*.backup
